<h1>Clients</h1>
<% @clients.each do |client| %>
  <a href="/clients/<%= client.id %>"><h3>Name: <%= client.first_name %></h3></a>
  <h3>Surname: <%= client.last_name %></h3>
  <h3>Injury: <%= client.injury %></h3>
  <h3>Appointment: <%= client.appointment_date %></h3>
<% end %>

<div>
  <a href="/clients/new">Add New Client</a>
</div>