<h3>New Client</h3>
<%= form_tag '/clients', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, nil, class: 'form-control' %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, nil, class: 'form-control' %>
  </div>
  <div>
    <%= label_tag :injury %>
    <%= text_field_tag :injury, nil, class: 'form-control' %>
  </div>
  <div>
    <%= label_tag :appointment_date %>
    <%= text_field_tag :appointment_date, nil, class: 'form-control' %>
  </div>
  <%= submit_tag "Add Client", class: 'btn btn-primary' %>
<% end %>